---
import BasicLayout from "../../layouts/BasicLayout.astro"
import { getCollection, render } from "astro:content"

export async function getStaticPaths() {
  const allEvents = await getCollection("eventos")
  return allEvents.map((event) => ({
    params: { id: event.id },
    props: { event },
  }))
}
const { event } = Astro.props
const { Content } = await render(event)
---

<BasicLayout title={event.data.nome}>
  <h1>evento / {event.data.nome}</h1>
  <Content />
</BasicLayout>
