/* Panda layers: */
@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: "DirectaSerifRegular";
  src: url("/fonts/DirectaSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DirectaSerifSemiBold";
  src: url("/fonts/DirectaSerif-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@view-transition {
  navigation: auto;
}
