---
import { css } from "@styled-system/css"
import BasicLayout from "../layouts/BasicLayout.astro"
---

<BasicLayout title="página inicial">
  <p
    class={css({
      fontSize: "22px",
      fontFamily: "DirectaSerifRegular",
    })}
  >
    Página inicial em construção
  </p>
</BasicLayout>
