---
import { css } from "@styled-system/css"
import { flex } from "@styled-system/patterns"
import BasicLayout from "../layouts/BasicLayout.astro"
import HeaderTitle from "@components/HederTitle.astro"
import NavMenu from "@components/NavMenu.astro"
import { getCollection } from "astro:content"

const allCliches = await getCollection("cliches")
---

<BasicLayout title="página inicial">
  <header
    class={flex({
      flexDirection: "column",
      h: "auto",
      minH: "calc(100vh - var(--spacing-header-and-footer-y-margin))",
      w: "100%",
      mt: "headerAndFooterYMargin",
      borderTop: "3px solid black",
    })}
  >
    <HeaderTitle />
    <NavMenu />
    <div
      id="cliche"
      class={flex({
        maxW: "maxWidth",
        alignItems: "center",
        justifyContent: "center",
        m: "0 auto",
        p: "20px",
        flex: "1 0 auto",
      })}
    >
    </div>
  </header>
  <main class={css({ maxW: "maxWidth", m: "0 auto", px: "20px" })}>
    <div class={css({ bgColor: "green" })}>
      <h1
        class={css({
          fontSize: "3rem",
        })}
      >
        Destaques
      </h1>
    </div>
    <div class={css({ bgColor: "blue" })}>
      <h1
        class={css({
          fontSize: "3rem",
        })}
      >
        As últimas
      </h1>
    </div>
    <div class={css({ bgColor: "orange" })}>
      <h1
        class={css({
          fontSize: "3rem",
        })}
      >
        Artistas
      </h1>
    </div>

    <slot />
  </main>
</BasicLayout>

<script define:vars={{ allCliches }}>
  var randomCliche = allCliches[Math.floor(Math.random() * allCliches.length)]
  const clicheImgDiv = document.getElementById("cliche")
  var img = document.createElement("img")
  img.src = "/images/cliches/" + randomCliche.data.imagem
  img.alt = randomCliche.data.titulo
  clicheImgDiv.appendChild(img)
</script>
