---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ofício febril</title>
	</head>
	<body>
		<h1>ofício febril</h1>
		<p>A escrita é o desconhecido. Antes de escrever não sabemos nada acerca do que vamos escrever. Com toda a lucidez. É o desconhecido de nós mesmos, da nossa cabeça, do nosso corpo. Não é sequer uma reflexão, escrever é uma espécie de faculdade que temos ao lado da nossa pessoa, paralelamente a ela, de uma outra pessoa que aparece e que avança, invisível, dotada de pensamento, de cólera, e que, por vezes, pelos seus próprios fatos, está em perigo de perder a vida. Se soubéssemos alguma coisa do que vamos escrever, antes de o fazer, antes de escrever, nunca escreveríamos. Não valeria a pena. Escrever é tentar saber aquilo que escreveríamos se escrevêssemos — só o sabemos depois — antes, é a interrogação mais perigosa que nos podemos fazer. Mas é também a mais corrente. (Marguerite Duras)</p>
<img src="/yield.jpg" alt="Yield"/>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
		<script is:inline src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  		<script is:inline>
    		new window.VLibras.Widget('https://vlibras.gov.br/app');
  		</script>
	</body>
</html>

<style>
	body {
		margin: 20px;
		font-family: 'Courier New', Courier, monospace;
	}
	body > p {
		font-size: 1.3rem;
	}
</style>
