---
import InsideLayout from "../layouts/InsideLayout.astro"
import { Content as Sobre } from "../content/sobre.mdx"
---

<InsideLayout title="sobre os projetos">
  <h1>sobre os projetos</h1>
  <Sobre />
</InsideLayout>
