---
import BasicLayout from "../layouts/BasicLayout.astro"
import { getCollection } from "astro:content"

const allTypes = await getCollection("tipos")
---

<BasicLayout title="tipos">
  <h1>tipos</h1>
  <ul class="indexListText">
    {
      allTypes.map((type) => (
        <li class="indexListItem">
          <a href={`/tipos/${type.id}`}>{type.data.nome}</a>
        </li>
      ))
    }
  </ul>
</BasicLayout>

<style lang="scss">
  .indexListText {
    padding: 0;
    list-style-position: inside;
    .indexListItem {
      margin-bottom: 10px;
      a {
        color: black !important;
      }
    }
  }
</style>
