---
import InsideLayout from "@layouts/InsideLayout.astro"
import H1TitleWithLine from "@components/H1TitleWithLine.astro"

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<InsideLayout
  title="sobre os projetos"
  description="[aguardando]"
  canonicalURL={canonicalURL}
>
  <H1TitleWithLine>processos artísticos</H1TitleWithLine>
  <p>[em construção]</p>
</InsideLayout>
