---
import { css } from "@styled-system/css"
const { preTitle, title } = Astro.props

const section = Astro.url.pathname.split("/").filter(Boolean)[0]
---

<header>
  <h1
    class={css({
      textStyle: "basicHeading1",
      layerStyle: "basicText",
      position: "relative",
      ml: "2px",
    })}
  >
    {
      preTitle && (
        <>
          <a
            href={`/${section}`}
            class={css({ color: "grayFont", textDecoration: "none" })}
          >
            {preTitle}
          </a>{" "}
          /
        </>
      )
    }
    <span>{title}</span>
  </h1>
  <div
    class={css({
      w: "100%",
      mt: ["-32px", undefined, "-35px"],
      borderTop: "1px solid black",
      bgColor: "white",
      h: "30px",
      pointerEvents: "none",
      position: "relative",
      zIndex: "1",
    })}
  >
  </div>
</header>
