---
import { css } from "@styled-system/css"
import { Image } from "astro:assets"
import headerTitle from "@images/headerTitle.png"
---

<div class={css({ maxW: "maxWidth", m: "0 auto" })}>
  <a href="/"> <Image src={headerTitle} alt="Ofício Febril" /></a>
</div>
