---
import { css } from "@styled-system/css"
import { flex } from "@styled-system/patterns"
import NavMenuOptions from "@components/NavMenuOptions.astro"
---

<script>
  const buttonMenu = document.getElementById("menuButton")
  const NavMenuList = document.getElementById("NavMenuList")
  buttonMenu?.addEventListener("click", () => {
    NavMenuList?.classList.toggle("mobileActive")
  })
</script>

<nav
  class={css({
    maxW: "maxWidth",
    m: "0 auto",
    p: ["30px 20px 0 20px", undefined, undefined, "40px 20px 0 20px"],
  })}
>
  <button
    id="menuButton"
    class={css({
      margin: "0 auto",
      display: ["block", undefined, undefined, "none"],
      border: "1px solid black",
      layerStyle: "navMenuButtonAndList",
      cursor: "pointer",
      _hover: {
        color: "grayFont",
      },
    })}
    class="accordion">menu</button
  >
  <ul
    id="NavMenuList"
    class={flex({
      border: "1px solid black",
      flexDirection: ["column", undefined, undefined, "row"],
      display: ["none", undefined, undefined, "flex"],
      "&.mobileActive": {
        mt: ["10px", undefined, undefined, "0"],
        display: "flex",
        position: ["absolute", undefined, undefined, "static"],
        left: "0",
        right: "0",
        mx: ["auto", undefined, undefined, "0"],
        width: ["fit-content", undefined, undefined, "auto"],
      },
      "& li": {
        flexBasis: ["auto", undefined, undefined, "20%"],
        display: "flex",
        alignItems: "center",
        bgColor: "white",
        justifyContent: "center",
        textAlign: "center",
        layerStyle: "navMenuButtonAndList",
        "&:not(:last-child)": {
          borderRight: [undefined, undefined, undefined, "1px solid black"],
          borderBottom: ["1px solid black", undefined, undefined, "none"],
        },
        _hover: {
          color: "grayFont",
        },
      },
    })}
  >
    <NavMenuOptions />
  </ul>
</nav>
