---
import { css } from "@styled-system/css"
---

<div
  class={css({
    mb: "20px",
    textStyle: "spanText",
    "& a": {
      textDecoration: "underline",
      _hover: {
        color: "black",
      },
    },
    color: "grayFont",
  })}
>
  visualizar: <a href="/processos-artisticos">processos artísticos</a> | <a
    href="/processos-artisticos/artistas">artistas e pesquisadores</a
  >
</div>
