---
import "@styles/index.css"
import { css } from "@styled-system/css"
import { SEO } from "astro-seo"

const { title } = Astro.props
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Ofício Febril" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>ofício febril | administração{title ? " | " + title : ""}</title>
    <SEO noindex={true} nofollow={true} />
  </head>
  <body
    class={css({
      maxW: "maxWidth",
      minW: "320px",
      m: "0 auto",
      p: "20px",
    })}
  >
    <header
      class={css({
        fontFamily: "DirectaSerifSemiBold, Georgia, serif",
        fontSize: ["2rem", undefined, "3rem"],
        lineHeight: ["40px", undefined, "60px"],
        my: "20px",
      })}
    >
      <a href="/">OFÍCIO FEBRIL</a>
    </header>
    <main
      class={css({
        "& h1": { textStyle: "basicHeading1" },
        "& h2": { textStyle: "basicHeading2" },
        "& h3": { textStyle: "basicHeading3" },
        "& h4": { textStyle: "basicHeading4" },
        "& p, ul, ol": { textStyle: "basicText" },
        "& ul, ol": { layerStyle: "basicLists" },
        "& ol": { layerStyle: "basicListsOrdered" },
        "& ul": { layerStyle: "basicListsUnordered" },
        "& h1, h2, h3, h4, p, ul, ol, pre": {
          layerStyle: "basicText",
        },
        "& section": { mb: "basicContentBlockBottomMartin" },
        "& pre": {
          p: "10px",
          fontSize: ["0.9rem!", undefined, "1rem!"],
          lineHeight: ["22px", undefined, "24px"],
          bgColor: "#ECF1F2!",
          color: "black!",
          whiteSpace: "pre-wrap",
        },
      })}
    >
      <h1>
        <a href="/admin/">Administração</a>{title ? " / " + title : ""}
      </h1>
      <slot />
    </main>
  </body>
</html>
