---
import "@styles/index.css"
import { css } from "@styled-system/css"
import { flex } from "@styled-system/patterns"
import { Image } from "astro:assets"
import headerTitle from "@images/headerTitle.png"
import footerTitle from "@images/footerTitle.png"
const { title } = Astro.props
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>ofício febril | {title}</title>
  </head>
  <body class={css({ minW: "320px" })}>
    <header
      class={css({
        w: "100%",
        mt: "20px",
        borderTop: "3px solid black",
      })}
    >
      <div class={css({ maxW: "maxWidth", m: "0 auto" })}>
        <Image src={headerTitle} alt="Ofício Febril" />
      </div>
      <nav class={css({ maxW: "maxWidth", m: "0 auto", p: "40px 20px" })}>
        <ul
          class={flex({
            border: "1px solid black",
            fontFamily: "DirectaSerifSemiBold, Georgia, serif",
            fontSize: ["1rem", undefined, "1.2rem"],
            lineHeight: ["20px", undefined, "24px"],
            flexDirection: ["column", undefined, undefined, "row"],
            "& li": {
              flexBasis: "20%",
              display: "flex",
              alignItems: "center",
              justifyContent: "center",
              textAlign: "center",
              p: ["8px 0", undefined, undefined, "10px 30px"],
              "&:not(:last-child)": {
                borderRight: [
                  undefined,
                  undefined,
                  undefined,
                  "1px solid black",
                ],
                borderBottom: ["1px solid black", undefined, undefined, "none"],
              },
              _hover: {
                bgColor: "basicGray",
              },
            },
          })}
        >
          <li>
            <a href="/sobre-os-projetos">sobre os projetos</a>
          </li>
          <li>
            <a href="/processos-artisticos">processos artísticos</a>
          </li>
          <li>
            <a href="/quando-os-tipos-se-movem">quando os tipos se movem</a>
          </li>
          <li>
            <a href="/pesquisa-e-publicacoes">pesquisa e publicações</a>
          </li>
          <li>
            <a href="/a-oficina-e-o-oficio">a oficina e o ofício</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class={css({ maxW: "maxWidth", m: "0 auto", px: "20px" })}>
      <main>
        <slot />
        <div vw class="enabled">
          <div vw-access-button class="active"></div>
          <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
          </div>
        </div>
        <script is:inline src="https://vlibras.gov.br/app/vlibras-plugin.js"
        ></script>
        <script is:inline>
          new window.VLibras.Widget("https://vlibras.gov.br/app")
        </script>
      </main>
    </div>
    <footer
      class={css({
        w: "100%",
        mb: "20px",
        borderBottom: "3px solid black",
      })}
    >
      <div class={css({ maxW: "maxWidth", m: "0 auto" })}>
        <Image src={footerTitle} alt="Ofício Febril" />
      </div>
    </footer>
  </body>
</html>
