---
import "@styles/index.css"
import { css } from "@styled-system/css"
import { Image } from "astro:assets"
import { SEO } from "astro-seo"
import footerTitle from "@images/footerTitle.png"

const { title, description, canonicalURL } = Astro.props
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Ofício Febril / {title}</title>
    <SEO
      description={description}
      openGraph={{
        basic: {
          title: "Ofício Febril / " + title,
          type: "website",
          url: canonicalURL,
          image:
            "https://www.oficiofebril.com.br/imagens/oficio-febril-open-graph.jpg",
        },
        optional: {
          description: description,
        },
      }}
      twitter={{
        card: "summary_large_image",
      }}
      extend={{
        meta: [{ name: "title", content: "Ofício Febril / " + title }],
      }}
    />
  </head>
  <body class={css({ minW: "320px" })}>
    <noscript>
      <div
        class={css({
          p: "40px",
          textAlign: "center",
          bgColor: "#e80000",
          color: "white",
          fontFamily: "DirectaSerifSemiBold, Georgia, serif",
          fontSize: ["1.2rem", undefined, "1.4rem"],
          lineHeight: ["28px", undefined, "32px"],
        })}
      >
        <p>
          Para que este website funcione corretamente é necessário que você
          ative o JavaScript em seu browser.
        </p>
      </div>
    </noscript>
    <slot />
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <script is:inline src="https://vlibras.gov.br/app/vlibras-plugin.js"
    ></script>
    <script is:inline>
      new window.VLibras.Widget("https://vlibras.gov.br/app")
    </script>
    <footer
      class={css({
        w: "100%",
        mb: "headerAndFooterYMargin",
        borderBottom: "3px solid black",
      })}
    >
      <div class={css({ maxW: "maxWidth", m: "0 auto" })}>
        <Image src={footerTitle} alt="Ofício Febril" />
      </div>
    </footer>
  </body>
</html>
