---
import "@styles/index.css"
import { css } from "@styled-system/css"
const { title } = Astro.props
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>ofício febril | {title}</title>
  </head>
  <body>
    <main>
      <div
        class={css({
          fontSize: "9xl",
          fontFamily: "DirectaSerifRegular",
          textTransform: "uppercase",
        })}
      >
        ofício febril
      </div>
      <slot />
      <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script is:inline src="https://vlibras.gov.br/app/vlibras-plugin.js"
      ></script>
      <script is:inline>
        new window.VLibras.Widget("https://vlibras.gov.br/app")
      </script>
    </main>
  </body>
</html>
