---
import BasicLayout from "@layouts/BasicLayout.astro"
import { css } from "@styled-system/css"
import { flex } from "@styled-system/patterns"
import HeaderTitle from "@components/HederTitle.astro"
import NavMenu from "@components/NavMenu.astro"

const { title, description, canonicalURL } = Astro.props
---

<BasicLayout
  title={title}
  description={description}
  canonicalURL={canonicalURL}
>
  <header class={flex({ layerStyle: "headerLayout" })}>
    <HeaderTitle />
    <NavMenu />
  </header>
  <main class={css({ layerStyle: "mainLayout" })}>
    <slot />
  </main>
</BasicLayout>
