---
import BasicLayout from "@layouts/BasicLayout.astro"
import { css } from "@styled-system/css"
import { flex } from "@styled-system/patterns"
import HeaderTitle from "@components/HeaderTitle.astro"
import NavMenu from "@components/NavMenu.astro"

const { title, description, canonicalURL } = Astro.props
---

<BasicLayout
  title={title}
  description={description}
  canonicalURL={canonicalURL}
>
  <header class={flex({ layerStyle: "headerLayout" })}>
    <HeaderTitle />
    <NavMenu />
  </header>
  <main
    class={css({
      layerStyle: "mainLayout",
      my: "40px",
      "& h2": { textStyle: "basicHeading2" },
      "& h3": { textStyle: "basicHeading3" },
      "& h4": { textStyle: "basicHeading4" },
      "& p, ul, ol": { textStyle: "basicText", textAlign: "justify" },
      "& ul, ol": { layerStyle: "basicLists" },
      "& ol": { layerStyle: "basicListsOrdered" },
      "& ul": { layerStyle: "basicListsUnordered" },
      "& h2, h3, h4, p, ul, ol, pre, lite-youtube, astro-embed-tweet, lite-vimeo":
        { layerStyle: "basicText" },
      "& img + em": {
        textStyle: "spanText",
        fontStyle: "normal",
      },
    })}
  >
    <slot />
  </main>
</BasicLayout>
