---
import BasicLayout from "../layouts/BasicLayout.astro"
import { css } from "@styled-system/css"
import HeaderTitle from "@components/HederTitle.astro"
import NavMenu from "@components/NavMenu.astro"

const { title } = Astro.props
---

<BasicLayout title={title}>
  <header class={css({ layerStyle: "headerLayout" })}>
    <HeaderTitle />
    <NavMenu />
  </header>
  <main class={css({ layerStyle: "mainLayout" })}>
    <slot />
  </main>
</BasicLayout>
