---
import BasicLayout from "../../layouts/BasicLayout.astro"
---

<BasicLayout title="Adicionar tipo">
  <h1>tipos / Adicionar</h1>

  <p><b>Instruções:</b></p>
  <ul>
    <li>
      É necessário que você esteja previamente logado(a) no repositório de
      arquivos do site. Caso ainda não esteja, clique <a
        href="https://github.com/login"
        target="_blank">aqui para fazer seu login</a
      >.
    </li>
    <li>
      Caso o conteúdo que você pretende publicar possua imagens associadas, é
      necessário primeiro fazer seus uploads para o repositório, e depois enviar
      o conteúdo pelo formulário abaixo. Para acessar a pasta de arquivos da
      seção "Tipos", <a
        href="https://github.com/fabricio-boppre/oficio-febril/tree/main/src/content/tipos"
        target="_blank"
        >clique aqui.
      </a>
    </li>
  </ul>

  <form>
    <label for="nome">Nome</label>
    <input id="nome" name="nome" type="text" />

    <label for="slug">Slug</label>
    <span>
      Versão slug do nome do tipo, para ser utilizada no endereço de sua tela.
    </span>
    <input id="slug" name="slug" type="text" />

    <label for="data_de_publicacao">Data de publicação</label>
    <input type="date" id="data_de_publicacao" name="data_de_publicacao" />

    <label for="descricao">Descrição</label>
    <input id="descricao" name="descricao" type="text" class="bigger" />

    <label for="content">Conteúdo</label>
    <span> Veja dicas de Markdown logo abaixo. </span>
    <textarea id="content" name="content" class="textarea"> </textarea>

    <!-- Prepare the JavaScript function for later -->
    <button id="submit-content">Enviar</button>
    <p>
      <b>Códigos Markdown:</b>
    </p>
    <ul>
      <li>Negrito: **texto**</li>
      <li>Imagens: ![texto alternativo](./nome-do-arquivos.jpg)</li>
      <li>etc.</li>
      <li>
        Links de referência: <a href="https://markdownlivepreview.com"
          >https://markdownlivepreview.com</a
        >
      </li>
    </ul>
  </form>
</BasicLayout>

<script>
  // Find all buttons with the `alert` class on the page.
  const button = document.getElementById("submit-content")

  // Handle clicks on each button.
  button.addEventListener("click", () => {
    validateSubmission()
  })

  //Helper function to get value by id
  function getValue(name) {
    return document.getElementById(name).value
  }

  function validateSubmission() {
    //save all the input values
    const nome = getValue("nome").trim()
    const slug = getValue("slug").trim()
    const data_de_publicacao = getValue("data_de_publicacao")
    const descricao = getValue("descricao").trim()
    const content = getValue("content")

    if (
      nome == null ||
      nome == "" ||
      slug == null ||
      slug == "" ||
      data_de_publicacao == null ||
      data_de_publicacao == "" ||
      descricao == null ||
      descricao == "" ||
      content == null ||
      content == ""
    ) {
      alert("É necessário preencher todos os campos.")
      return false
    }

    //generate a filename
    const filename = slug.replace(/\s/g, "-") + ".mdx"

    //Generate a string mimicing the file structure
    //Indentation is important here
    let fileText = `---
nome: ${nome}
descricao: ${descricao}
data_de_publicacao: ${data_de_publicacao}
---
${content}`

    //Encode string to URI format
    const encodedFileText = encodeURIComponent(fileText)

    //Generate a github link with query parameter
    const githubQueryLink =
      "https://github.com/fabricio-boppre/oficio-febril/new/main/src/content/tipos?value=" +
      encodedFileText +
      "&filename=" +
      filename

    //Open in a new tab
    window.open(githubQueryLink)
  }
</script>

<style lang="scss">
  form {
    label,
    input,
    textarea {
      display: block;
    }
    label {
      font-weight: bold;
    }
    input.bigger {
      width: 100%;
    }
    span {
      font-size: 1rem;
    }
    input,
    textarea {
      border: 1px solid rgb(185, 185, 185);
      margin-block: 5px 20px;
      padding: 5px;
      font-family: "Courier New", Courier, monospace;
      font-size: 1.2rem;
      box-sizing: border-box;
    }
    textarea {
      width: 100%;
      height: 150px;
    }
    button#submit-content {
      font-family: "Courier New", Courier, monospace;
      font-size: 1.2rem;
      padding: 5px;
    }
  }
</style>
