---
import { css } from "@styled-system/css"
import AdminLayout from "@layouts/AdminLayout.astro"
---

<AdminLayout>
  <ul>
    <li><a href="/admin/manual">Manual de utilização</a></li>
    <li><a href="/admin/rascunhos">Rascunhos</a></li>
  </ul>
</AdminLayout>
